.App {
  text-align: center;
  background-image: url(./images/newBg.png);
  background-size:cover;
  background-position: center;
  height:100vh;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
display:flex;
justify-content: space-around;
}
.logo-img{
  display: inline-block;
  width:260px;
  height:60px;
  margin-top:10px;
  cursor:pointer;
}
nav ul{
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding:5px 20px;

}
nav ul li a{
  text-decoration: none;
  font-size:16px;
  color:black;
}
.login-btn button{
  background-color: orangered;
  border:none;
  color:black;
  margin-top:20px;
  border-radius: 5px;
  padding:5px 10px;
 
}
.active{
  color:black;
  font-weight:600;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
